{%- if prev %}
<ul>
  <li id="relations-prev" style="opacity:0.4" onmouseover="mouseOverPrev()" onmouseout="mouseOutPrev()"class="navLink" title='Anterior - {{ prev.title|extractText|extractTextII }}' data-toggle="tooltip">
    <a href="{{ prev.link|e }}" aria-label="{{ prev.title|extractText|extractTextII }}">
        <div style="background-color: white; border-style:solid; border-color:lightgrey; border-width:2px; width:100px; height:50px">
            <i class='prevNav glyphicon glyphicon-chevron-left'  style="top:50%; transform:translateY(-50%)translateX(-50%); left: 50%; color:black;"></i>
        </div>
    </a>
  </li>
</ul>

  {% endif %}

{%- if next %}
<ul>
  <li id="relations-next" style="opacity:0.4" onmouseover="mouseOverNext()" onmouseout="mouseOutNext()" class="navLink" title='Próximo - {{ next.title|extractText|extractTextII }}' data-toggle="tooltip" >
    <a href="{{ next.link|e }}" aria-label="{{ next.title|extractText|extractTextII }}">
      <div style="background-color: white; border-style:solid; border-color:lightgrey; border-width:2px; width:100px; height:50px">
          <i id="relationsNextIcon" class='nextNav glyphicon glyphicon-chevron-right' style="top:50%; transform:translateY(-50%)translateX(-50%); left: 50%; color:black; "></i>
      </div>
    </a>
  </li>
</ul>

{%- endif %}

<script type="text/javascript">

  $('#relations-prev').tooltip({'placement':'right', 'selector': '', 'delay': { show: 100, hide: 50}});
  $('#relations-next').tooltip({'placement':'left', 'selector': '', 'delay': { show: 100, hide: 50}});

</script>

<script>
	function mouseOverPrev() {
		document.getElementById("relations-prev").style.opacity=1;
	}

	function mouseOutPrev() {
		document.getElementById("relations-prev").style.opacity=0.4;
	}
	function mouseOverNext() {
		document.getElementById("relations-next").style.opacity=1;
	}

	function mouseOutNext() {
		document.getElementById("relations-next").style.opacity=0.4;
	}
</script>
